In [22]:
import pandas as pd
import zipfile
from bs4 import BeautifulSoup

In [3]:
with zipfile.ZipFile('rt-html.zip') as myzip:
    myzip.extractall()

In [5]:
df = pd.read_csv('bestofrt.tsv', sep='\t')

In [6]:
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [7]:
df.shape

(100, 4)

In [23]:
with open('rt_html/400_blows.html') as file:
    soup = BeautifulSoup(file, 'lxml')

In [24]:
soup.find('title')

In [25]:
soup.find('title').contents[0]

'The 400 Blows (Les Quatre cents coups)\xa0(1959) - Rotten Tomatoes'

In [26]:
soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]

'The 400 Blows (Les Quatre cents coups)\xa0(1959)'

In [27]:
import os

In [29]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        print(title)
        break

12 Angry Men (Twelve Angry Men) (1957)

In [30]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        div_container = soup.find('div', class_="meter-value")
        audience_score = div_container.find('span', class_="superPageFontColor").contents[0][:-len('%')]
        print(title)
        print(audience_score)
        break

12 Angry Men (Twelve Angry Men) (1957)
97

In [31]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        div_container = soup.find('div', class_="meter-value")
        audience_score = div_container.find('span', class_="superPageFontColor").contents[0][:-len('%')]
        div_container = soup.find('div', class_="audience-info hidden-xs superPageFontColor")
        number_of_audience_ratings = div_container.find_all('div')[1].contents[2].strip()
        print(title)
        print(audience_score)
        print(number_of_audience_ratings)
        break

12 Angry Men (Twelve Angry Men) (1957)
97
103,672

In [33]:
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        soup = BeautifulSoup(file, 'lxml')
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        div_container = soup.find('div', class_="meter-value")
        audience_score = div_container.find('span', class_="superPageFontColor").contents[0][:-len('%')]
        div_container = soup.find('div', class_="audience-info hidden-xs superPageFontColor")
        number_of_audience_ratings = div_container.find_all('div')[1].contents[2].strip()
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': number_of_audience_ratings})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

In [34]:
df

,title,audience_score,number_of_audience_ratings
0,12 Angry Men (Twelve Angry Men) (1957),97,"103,672"
1,The 39 Steps (1935),86,"23,647"
2,The Adventures of Robin Hood (1938),89,"33,584"
3,All About Eve (1950),94,"44,564"
4,All Quiet on the Western Front (1930),89,"17,768"
5,Casablanca (1942),95,"355,952"
6,Frankenstein (1931),87,"41,140"
7,King Kong (1933),86,"89,669"
8,Laura (1944),91,"10,481"
9,M (1931),95,"35,778"
10,The Maltese Falcon (1941),91,"57,268"
11,Metropolis (1927),92,"62,018"
12,Rear Window (1954),95,"149,458"
13,Rebecca (1940),92,"39,026"
14,A Streetcar Named Desire (1951),90,"54,761"
15,Touch of Evil (1958),92,"30,867"
16,High Noon (1952),89,"25,065"
17,Snow White and the Seven Dwarfs (1937),78,"469,510"
18,12 Years a Slave (2013),90,"138,789"
19,The 400 Blows (Les Quatre cents coups) (1959),94,"38,368"
20,Alien (1979),94,"457,186"
21,Apocalypse Now (1979),94,"284,606"
22,Argo (2012),90,"207,373"
23,Army of Shadows (L'Armأ©e des ombres) (1969),94,"7,011"
24,Arrival (2016),82,"78,740"
25,Baby Driver (2017),89,"48,114"
26,Battleship Potemkin (1925),85,"18,709"
27,A Hard Day's Night (1964),89,"50,067"
28,Bicycle Thieves (Ladri di biciclette) (1949),94,"33,723"
29,Boyhood (2014),81,"88,478"
...,...,...,...
70,Selma (2015),86,"60,533"
71,Seven Samurai (Shichinin no Samurai) (1956),97,"90,049"
72,Singin' in the Rain (1952),95,"137,643"
73,Skyfall (2012),86,"372,497"
74,Spotlight (2015),93,"68,142"
75,Star Trek (2009),91,"746,458"
76,Star Wars: Episode VII - The Force Awakens (2015),89,"222,789"
77,Sunset Boulevard (1950),95,"52,783"
78,Taxi Driver (1976),93,"258,405"
79,The Babadook (2014),72,"37,024"
80,The Battle of Algiers (La Battaglia di Algeri)...,95,"14,267"
81,The Big Sick (2017),90,"23,391"
82,The Cabinet of Dr. Caligari (Das Cabinet des D...,89,"27,163"
83,The Conformist (1970),91,"8,529"
84,The Dark Knight (2008),94,"1,827,436"
85,"The Good, the Bad and the Ugly (1966)",97,"238,420"
86,The Jungle Book (2016),86,"92,856"
87,The Third Man (1949),93,"53,081"
88,The Wizard of Oz (1939),89,"874,425"
89,The Wrestler (2008),88,"139,795"
90,Tokyo Story (Tأ´kyأ´ monogatari) (1953),93,"11,325"
91,Toy Story (1995),92,"1,107,731"
92,Toy Story 2 (1999),86,"998,186"
93,Toy Story 3 (2010),89,"605,098"
94,The Treasure of the Sierra Madre (1948),93,"25,627"
95,Up (2009),90,"1,201,878"
96,Vertigo (1958),93,"101,454"
97,The Wages of Fear (1953),95,"8,536"
98,Wonder Woman (2017),90,"112,955"
99,Zootopia (2016),92,"98,633"